body{
	width: 100%;
	
}
.inputData {
	margin: 20px auto;
	width: 700px;
	
	
	
}
span.newDescr {
	padding: 10px;
}
span.confirmDescr {
	padding: 11px;
}

div.newPass {
	padding: 10px;

}
div.confirmPass{
	padding: 10px;
	
}

div.button {
	
	text-align: center;
	margin:  0 auto;
}
.description {
	text-align: center;
	font-size: 17px;
	
}
.newPass input , .confirmPass input {
	margin-left: 210px; 
	width: 250px;
	
}
.userPage {
	padding-top: 20px;
	font-size: 20px;
	float: left;
	
}