body{
	width: 100%;
	
}
.inputData {
	
	margin: 0 auto;
	width: 500px;
	
}
span.firstDescr {
	padding: 10px;
}
span.lastDescr {
	padding: 11px;
}
span.emailDescr {
	padding: 11px ;
	margin: 0 0  0 0px;

}
div.firstName {
	padding: 10px;

}
div.lastName {
	padding: 10px;
	
}
div.email {
	padding: 10px ;
	
	
}
div.button {
	
	padding: 30px 0 0 100px;
	margin:  0 auto;
}
.description {
	padding:70px 0 30px 50px;
	font-size: 17px;
}
.firstInput input , .lastInput input , .email input {
	width: 250px;
}
.userPage {
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	
}
