.content {
	width:250px;
	margin: 0 auto;
	
	
}
input {
	margin-top: 40px ;
	
}
.button {
	
	
	
	margin: 40px 0 0 40px ;
		
		
}
div .text {
	font-size: 20px;
	margin: 0;
	
}
.userPage {
	padding-top: 20px;
	font-size: 20px;
	float: left;
	
}