<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">


<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="bulk" class="org.apache.log4j.FileAppender">
       <param name="File" value="IssueTrackerErr.log"/>
       <param name="Append" value="false"/>
       <param name="Encoding" value="UTF-8"/>
      <layout class="org.apache.log4j.EnhancedPatternLayout">
           <param name="ConversionPattern" value="%p %d{MMM-d HH-mm}: %m%n"/>
       </layout>
   </appender>
    

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="Cp866"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MMM-d HH:mm} -> %m%n"/>
        </layout>
    </appender>
    
  
    
    
    <root>
        <priority value="WARN"/>
        <appender-ref ref="bulk"/>
        <appender-ref ref="ConsoleAppender"/>
    </root> 

</log4j:configuration>