<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true" name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="debug">module10/target/debug.log</Property>
        <Property name="concurrencyInfo">target/concurrency.log</Property>
    </Properties>

    <Appenders>
        <!--<Console name="appenderConsole" target="SYSTEM_OUT">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />-->
        <!--</Console>-->
        <File name="DebugFile" fileName="${debug}" append="false">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </File>
        <File name="ConcurrencyInfoFile" fileName="${concurrencyInfo}" append="false">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="ConcurrencyTaskLogger" additivity="true" level="debug">
            <AppenderRef ref="ConcurrencyInfoFile" level="All"/>
        </Logger>

        <Root level="debug">
            <!--<AppenderRef ref="appenderConsole" />-->
            <AppenderRef ref="DebugFile"/>
        </Root>
    </Loggers>
</Configuration>